.me {
  overflow: hidden;
  background-color: rgb(19, 3, 3);
  /* margin-top: 0ch; */
  width: 100%;
  padding: 15px;
}

.a {
  /* float: left; */
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  /* margin-right: 220px; */
  width:inherit;
  padding: 15%;

  

  
}

.a:hover {
  background-color: rgb(19, 221, 80);
  color: black;
}
.a.active {
  background-color: rgb(122, 24, 242);
  color: white
}
.main{
  /* margin-top: 3%; */
  /* margin-left: 20%;
  margin-right: 20%; */

}
.imgmain{
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;

}

.main_image{
  height: 250px;

}

/* .imglogo{
  height: 250px;
  width: 1230px; */
/* }

.navmain{
  margin-left: 10%;
  margin-right: 10%;
} */